<h1>Order Summary</h1>

<h3>Order received from: <%=@order.name%></h3><br />
Address: <%= @order.addr %><br />
Timeslot: <%= @order.time %><br />
Email: <%= @order.email %><br />
Phone number: <%= @order.phone %><br />
Order summary: <%= @order.summary %><br />
Special Instructions(optional): <%= @order.special%> <br />
Total amount: <%= @order.amount %>
