<!DOCTYPE html>
<html>
<head>
  <title>TasteHome</title>
  <link href='http://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
	  <script type="text/javascript">
	    // This identifies your website in the createToken call below
	    Stripe.setPublishableKey('pk_test_uPLED6QDfo9opxcb43x5DwM2');
		//live_chage_here!!
		// Stripe.setPublishableKey('pk_live_wEq4XylAyBRxb0LHLCwd7qev');
		var stripeResponseHandler = function(status, response) {
		      var $form = $('#payment-form');

		      if (response.error) {
		        // Show the errors on the form
		        $form.find('.payment-errors').text(response.error.message);
		        $form.find('button').prop('disabled', false);
		      } else {
		        // token contains id, last4, and card type
		        var token = response.id;
		        // Insert the token into the form so it gets submitted to the server
		        $form.append($('<input type="hidden" name="stripeToken" />').val(token));
		        // and re-submit
		        $form.get(0).submit();
		      }
		    };

		    jQuery(function($) {
		      $('#payment-form').submit(function(e) {
		        var $form = $(this);

		        // Disable the submit button to prevent repeated clicks
		        $form.find('button').prop('disabled', true);

		        Stripe.card.createToken($form, stripeResponseHandler);

		        // Prevent the form from submitting with the default action
		        return false;
		      });
		    });
	  </script>
</head>
<body>
	<div id="order-page">
<%= render 'layouts/header' %>
    <nav class="navbar navbar-fixed-top transparent">
      <div class="container">
        <div id="navbar" class="collapse navbar-collapse">
		  <!-- <a class="navbar-brand" id="logo" href="/">TasteHome</a> -->
		  <!-- <div class="nav-right"> Order here! </div> -->
	  	</div>
  	  </div>
	</nav>

<%= yield %>
</div>
</body>
</html>
